/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

#logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 80px;
    width: 160px;
}

#cerrar-sesion {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #007bff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    transition: all 0.3s ease;
}

#cerrar-sesion:hover {
    background-color: #f0f0f0;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #dceeff;
}

main {
    padding: 20px;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

section h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para la sección de moderación del foro */
#admin-foro {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px; /* para dejar espacio para el footer fijo */
}

.add-section, .existing-section {
    margin-bottom: 40px;
}

.add-section h3, .existing-section h3 {
    color: #333;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"], input[type="email"], input[type="file"], textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul#items {
    list-style-type: none;
    padding: 0;
}

ul#items li {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s;
}

ul#items li:hover {
    transform: translateY(-10px);
}

ul#items li h4 {
    margin-top: 0;
    color: #007bff;
}

ul#items li img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul#items li p {
    margin: 0;
    color: #333;
}

.remove-item {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: background-color 0.3s ease;
}

.remove-item:hover {
    background-color: #c82333;
}

/* Estilos específicos para el foro */
.post {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    transition: transform 0.3s;
}

.post:hover {
    transform: translateY(-10px);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.author-info {
    display: flex;
    flex-direction: column;
}

.author {
    font-weight: bold;
    color: #007bff;
}

.date {
    color: #777;
    font-size: 14px;
}

.content {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
}

.post-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.like-button {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
}

.like-button:hover {
    color: #0056b3;
}

.likes {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: bold;
    color: #007bff;
}

.comments-count {
    color: #007bff;
    font-weight: bold;
    margin-left: auto;
}

.delete-post, .view-reports {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.view-reports {
    background-color: #ffc107;
    color: #000;
}

.delete-post:hover {
    background-color: #c82333;
}

.view-reports:hover {
    background-color: #e0a800;
}

.comments {
    margin-top: 20px;
}

.comment {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.comment-content {
    margin-left: 20px;
    position: relative;
}

.comment .author {
    color: #333;
    font-weight: bold;
}

.comment .content {
    color: #777;
    margin-top: 5px;
}

.delete-comment {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.delete-comment:hover {
    background-color: #c82333;
}

.add-comment {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.add-comment textarea {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

.comment-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.comment-button:hover {
    background-color: #0056b3;
}
